!! The default colors are "Gruvbox":
!!*.color0: #1d2021
!!*.color1: #cc241d
!!*.color2: #98971a
!!*.color3: #d79921
!!*.color4: #458588
!!*.color5: #b16286
!!*.color6: #689d6a
!!*.color7: #a89984
!!*.color8: #928374
!!*.color9: #fb4934
!!*.color10: #b8bb26
!!*.color11: #fabd2f
!!*.color12: #83a598
!!*.color13: #d3869b
!!*.color14: #8ec07c
!!*.color15: #ebdbb2
!! Transparency (0-255):
!st.alpha: 230
!! Set a default font and font size as below:
!! *.font: Monospace-14;

*background:                      #222D31
!*foreground:                      #d8d8d8
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #222D31
*color8:                          #585858

!! red dark/light
*color1:                          #FF2C23
*color9:                          #fb4934
!#ab4642
!! green dark/light
*color2:                          #72791B
*color10:                         #8AE234

!! yellow dark/light
*color3:                          #FBB448
*color11:                         #f7ca88
!FBF048
!! blue dark/light
*color4:                          #3498DB
*color12:                         #6D99C7

!! magenta dark/light
*color5:                          #ba8baf
*color13:                         #ba8baf

!! cyan dark/light
*color6:                          #689d6a
*color14:                         #1ABB9B

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8

Xcursor theme: Breeze-Adapta
